@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Optima';
	src: url('../heyfriend_assests/optima/OPTIMA.woff');	
}

@font-face {
	font-family: 'Bukhari Script';
	src: url('../heyfriend_assests/bukhari/Bukhari Script.ttf');	
}

@font-face {
	font-family: 'Open Sans';
	src: url(https://fonts.googleapis.com/css2?family=Open+Sans);	
}
/* Global Styles */
body {
  font-family: 'Optima', sans-serif; /* Choose a default font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Ensures consistent sizing with padding and border */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  vertical-align: middle;
  background-color: #f5f5f5; /* Light gray background */
}

.footer {
  text-align: center;
  font-family: 'Optima';
  padding: 1rem;
  font-size: 0.8rem; /* Adjust font size as needed */
  color: #aaa;
}

/* Basic element styles (optional) */
h1, h2, h3 {
  font-family: 'Optima', sans-serif; /* Choose a default font */
  margin: 1rem 0; /* Add some margin for headings */
}

p {
  margin: 0.5rem 0; /* Add some margin for paragraphs */
}

a {
  color: #007bff; /* Define a link color */
  text-decoration: none; /* Remove underline for unvisited links */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

@media (min-width: 768px) {
  /* Styles for tablets and larger screens */
  body {
	font-family: 'Optima', sans-serif; /* Choose a default font */
    font-size: 16px; /* Increase font size for better readability */
  }

  h1 {
    margin: 1.5rem 0; /* Adjust margins for larger layout */
  }

  /* Add more styles as needed for larger screens */
}


.class{
  logo: url('../heyfriend_assests/hfLogo_1920x1080.svg');
}


/* questions */

.container {
      flex: 1; /* Take up all remaining space */
      display: flex;
      align-items: center;
      justify-content: space-around;
	  text-align: center;
}
.middlebox {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: middle;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;

}

.text-line-other2 {
	opacity: 0;
    animation: fadeInOut 6s ease-in-out;
}

.text-line-other {

}

.text-line {
	transition: opacity 6s;
	animation: fadeInOut 6s ease-in-out;
}

#text {
	
}

#question {
  font-family: 'Optima'; /* Choose a default font */
  font-size: 1.5rem; /* Adjust font size as needed */
  color: #2B2A29;
  margin-bottom: 1rem; /* Adjust margin as needed */
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
}


.options {
  display: flex;
  vertical-align: middle;
  justify-content: space-around;
  font-family: 'Optima', sans-serif; /* Choose a default font */
}

button {
  font-family: 'Optima'; /* Choose a default font */
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
}

button:hover {
  font-family: 'Optima'; /* Choose a default font */
  background-color: #eee;

}


/* fade in out */

	@keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity: 1;}
	}
	  
	@keyframes fadeOut {
	  from {opacity: 1;}
	  to {opacity: 0;}
	}
	  
	@keyframes loop {
	  /* Here's the loop logic */
	  from { opacity: 0; }
	  to { opacity: 0; }
	  }
	  
	@keyframes pause {
	  from { opacity: 1; }
	  to { opacity: 1; }  /* Stays at 100% opacity throughout the pause */
	}
    
	  /* 2/3 pause in the middle */
	@keyframes fadeInOut {
	  from { opacity: 0; }
	  /* Fade-in animation (25% of total duration) */
	  20% { animation: fadeIn 2s ease-in-out; }

	  /* Pause for 1 second (33.33% of total duration) */
	  60% { opacity: 1; }  /* Maintain opacity at 1 during pause */

	  /* Fade-out animation (25% of total duration) */
	  80% { animation: fadeOut 2s ease-in-out; }

	  /* Reset to 0 opacity for looping (75% of total duration) */
	  to { opacity: 0; }
		}