@charset "utf-8";
/* CSS Document */

/* Global Styles */
body {
  font-family: 'Optima', sans-serif; /* Choose a default font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Ensures consistent sizing with padding and border */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  vertical-align: middle;
  background-color: #f5f5f5; /* Light gray background */
}

/* Basic element styles (optional) */
h1, h2, h3 {
  margin: 1rem 0; /* Add some margin for headings */
}

p {
  margin: 0.5rem 0; /* Add some margin for paragraphs */
}

a {
  color: #007bff; /* Define a link color */
  text-decoration: none; /* Remove underline for unvisited links */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}




@media (min-width: 768px) {
  /* Styles for tablets and larger screens */
  body {
    font-size: 16px; /* Increase font size for better readability */
  }

  h1 {
    margin: 1.5rem 0; /* Adjust margins for larger layout */
  }

  /* Add more styles as needed for larger screens */
}


.class{
  logo: url('../heyfriend_assests/hfLogo_1920x1080.svg');
}


/* questions */

.container {
      flex: 1; /* Take up all remaining space */
      display: flex;
      align-items: center;
      justify-content: space-around;
	  text-align: center;
}
.middlebox {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: middle;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
}

#question {
  font-size: 1.5rem; /* Adjust font size as needed */
  margin-bottom: 1rem; /* Adjust margin as needed */
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.options {
  display: flex;

  vertical-align: middle;
  justify-content: space-around;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
}

button:hover {
  background-color: #eee;
}